{% extends "layout.html" %}

{% block title %}
Book Details
{% endblock %}

{% block body %}
    <h1>Book Details</h1>

   <ul>
       <li>ISBN: {{ book.isbn }}</li>
       <li>Title: {{ book.title }}</li>
       <li>Author: {{ book.author }} </li> 
       <li>Publication Year: {{ book.year }}</li>
       <li>{{ data }}</li>
   </ul>

   {% for review in reviews %}
            <div class="reviewpost">
                <h5>Rating: {{  review.rating }} </h5>
                <p>{{ review.description }}</p>
            </div>
        {% endfor %}


   <form action="{{ url_for('reviews', book_isbn=book.isbn) }}" method="post">

        <div class="form-group">
            <h4>Submit a Review</h4>
            <select class="form-control" name="rating">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>
        
    
        <div>
            <input class="form-control" name="review_description" placeholder="description">
        </div>

        <div class="form-group">
            <button class="btn btn-primary">Submit Review</button>
        </div>
    </form>

    <div>
        <a href="{{ url_for('api', book_isbn=book.isbn) }}">Google Books API</a>
    </div>
{% endblock %}
